@page "/grupo"
@inject NavigationManager Nav


<AuthorizeView>
    <Authorized>
        <div class="text-center">
            <h1 class="display-4">Grupos</h1>
            <br />
        </div>


        @if (grupos == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div style="text-align:center; margin: 0px 60px;">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Como</th>
                            <th>Quando</th>
                            <th>Grupo Operador</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in grupos)
                        {
                            <tr>
                                <td>@item.GrupoId</td>
                                <td>@item.Como</td>
                                <td>@item.Quando</td>
                                <td>@item.GrupoOperadorId</td>
                                <td class="text-right">
                                    <button class="btn btn-link" style="color:cornflowerblue;" @onclick="@(()=> OnDetalheGrupo(item.GrupoId))"><i class="far fa-edit"></i></button>
                                    <button class="btn btn btn-link" style="color:darkorange;" @onclick="@(()=> OnHistorico())"><i class="fas fa-history"></i></button>
                                    @*<button class="btn btn btn-link" style="color:tomato;"><i class="far fa-trash-alt"></i></button>*@

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

                <Modal @ref="modalHistorico"
                       ECB_Aceitar="BtnAlertAceitar">
                    <Historicos />
                </Modal>

                <Modal @ref="modalGerente"
                       ECB_Aceitar="BtnAlertAceitar">
                    <Gerente Grupo="@grupo" />
                </Modal>

            </div>
        }
    </Authorized>

    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>



@code {
    private List<Grupo> grupos;
    private Grupo grupo;
    protected Modal modalHistorico;
    protected Modal modalGerente;


    protected override async Task OnInitializedAsync()
    {
        grupos = await Mock.ListaGrupo();
    }

    protected async Task OnHistorico()
    {
        await Task.Run(() => modalHistorico.Exibir());
    }

    protected async Task BtnAlertAceitar()
    {
        await Task.Run(() => modalHistorico.Ocultar());
        await Task.Run(() => modalGerente.Ocultar());
    }

    protected async Task OnDetalheGrupo(int id)
    {
        grupo = await Mock.ListaGrupo(id);
        await Task.Run(() => modalGerente.Exibir());
    }
}

