@page "/grupo"
@inject NavigationManager Nav
@inject HttpClient Http

<AuthorizeView Roles="Admin, Professor">
    <Authorized Context="Auth">


        <div class="text-center">
            <h1 class="display-4">Grupos</h1>
            <br />
        </div>


        @if (grupos == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div style="text-align:center; margin: 0px 60px;">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Quando</th>
                            <th>Quanto</th>
                            <th>Grupo Operador</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in grupos)
                        {
                        <tr>
                            <td width="200">@item.GrupoId</td>

                            <td width="250">
                                <EditForm Model="grupos">
                                    <InputText Id="grupos" class="form-control" @bind-Value="item.Quando" disabled />
                                </EditForm>
                            </td>

                            <td width="250">
                                <EditForm Model="grupos">
                                    <InputText Id="grupos" class="form-control" @bind-Value="item.Quanto" disabled />
                                </EditForm>
                            </td>
                          
                            <td width="200">@item.GrupoOperador</td>
                            <td width="250" class="text-center">
                                <button class="btn btn-link" style="color:cornflowerblue;" @onclick="@(()=> OnDetalheGrupo(item))"><i class="far fa-edit"></i></button>
                                <button class="btn btn btn-link" style="color:mediumseagreen;" @onclick="@(()=> OnHistorico())"><i class="fas fa-history"></i></button>
                                <button class="btn btn btn-link" style="color:darkorange;" @onclick="@(()=> OnIndicadores())"><i class="fas fa-align-center"></i></button>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>

                <Modal @ref="modalHistorico"
                       P_TextoTitulo=""
                       OnAction="OnIndicadores"
                       TextoBotao="Indicadores">
                    <Historicos />
                </Modal>

                <Modal @ref="modalGerente"
                       P_TextoTitulo=""
                       Display="none"
                       OnAction="OnIndicadores">

                    @*<GerenteComponente Grupo="@Grupo"
                                           OnAction2="@(()=> OnHistorico())"
                                           OnAction3="@(()=> OnIndicadores())"
                                           OnAction1="Salvar">

                            <h6 class="text-center" style="color:mediumseagreen">@MensagemSucesso</h6>
                            <h6 class="text-center" style="color:tomato">@MensagemErro</h6>
                        </GerenteComponente>*@

                    <GerenteComponente Grupo="@Grupo"
                                       GrupoOperadorGerente="Grupo Gerente"
                                       TextoBotao1="@textoBotao1"
                                       Disabled="@disabled"
                                       Display="@display"
                                       OnAction2="@(()=> OnHistorico())"
                                       OnAction3="@(()=> OnIndicadores())"
                                       OnAction1="OnEditarSalvar">
                        <Icon>
                            <i class="fas fa-user-tie" style="font-size:30px" ;></i>
                        </Icon>
                        <ChildContent>
                            <h6 class="text-center" style="color:mediumseagreen">@MensagemSucesso</h6>
                            <h6 class="text-center" style="color:tomato">@MensagemErro</h6>
                        </ChildContent>
                    </GerenteComponente>
                </Modal>

                <Modal @ref="modalIndicadores"
                       P_TextoTitulo=""
                       TextoBotao="Histórico"
                       OnAction="@OnHistorico">
                    <IndicadoresComponent />
                </Modal>

            </div>
        }
    </Authorized>

    <NotAuthorized>
        <JogoVarejo_Server.Client.Pages.Index />
    </NotAuthorized>
</AuthorizeView>



@code {
    private List<Grupo> grupos = new List<Grupo>();
    public Grupo Grupo { get; set; } = new Grupo();
    protected Modal modalHistorico;
    protected Modal modalGerente;
    protected Modal modalIndicadores;

    public string MensagemErro { get; set; }
    public string MensagemSucesso { get; set; }
    public bool IsDisabled { get; set; }
    public bool IsBusy { get; set; }

    private string textoBotao1 = "Editar";
    private bool disabled = true;
    private string display = "";
    [Parameter] public string DisplayNav { get; set; } = "";



    protected override async Task OnInitializedAsync()
    {
        MensagemSucesso = "";

        grupos = await Http.GetJsonAsync<List<JogoVarejo_Server.Shared.Models.Grupo>>("api/v1/grupo/");
    }

    protected void OnEditarSalvar()
    {
        MensagemSucesso = "";
        MensagemErro = "";

        if (textoBotao1.Contains("Editar"))
        {
            textoBotao1 = "Salvar";
            disabled = false;
            display = "none";
            StateHasChanged();
            return;
        }

        if (textoBotao1.Contains("Salvar"))
        {
            OnSalvar();
            textoBotao1 = "Editar";
            disabled = true;
            display = "";
            StateHasChanged();
            return;
        }

        Console.WriteLine(" => Salvar");

        MensagemSucesso = "Os campos foram salvos com sucesso!";
    }

    protected async Task BtnAlertAceitar()
    {
        await Task.Run(() => modalHistorico.Ocultar());
        await Task.Run(() => modalGerente.Ocultar());
        await Task.Run(() => modalIndicadores.Ocultar());
    }

    protected async Task OnDetalheGrupo(JogoVarejo_Server.Shared.Models.Grupo grupo)
    {
        MensagemSucesso = "";
        MensagemErro = "";

        Grupo = grupo;
        await Task.Run(() => modalGerente.Exibir());
    }

    protected async Task OnHistorico()
    {
        await Task.Run(() => modalGerente.Ocultar());
        await Task.Run(() => modalIndicadores.Ocultar());
        await Task.Run(() => modalHistorico.Exibir());
        MensagemSucesso = "";
    }


    protected async Task OnIndicadores()
    {
        MensagemSucesso = "";

        await Task.Run(() => modalHistorico.Ocultar());
        await Task.Run(() => modalGerente.Ocultar());

        await Task.Run(() => modalIndicadores.Exibir());
    }

    protected async Task OnSalvar()
    {
        MensagemSucesso = "Salvo com sucesso!";

        var result = await Http.PutJsonAsync<GenericResult<JogoVarejo_Server.Shared.Models.Grupo>>($"api/v1/grupo", Grupo);
    }
}

